html
	head
		include includes/header.pug
	body
		div.container
			h2 Over dit project
			div.row
				div(class='col s12')
					p 
						strong Zowel dierentuinen als openbare kunst 
						| zijn vreemde concepten als je er over nadenkt. Openbare kunst, net als liftmuziek, is bedoeld om de omgeving op te fleuren, zonder daarbij al te veel af te leiden of aanstoot te geven. Ook dierentuinen worden langzamerhand een achterhaald concept: de behoefte van de mens om wilde dieren die op grote natuurgebieden horen te leven in 'kooien' in de stad te plaatsen, wordt in steeds meer gevallen gezien als egoïsme van de mens.
					br
					h5 De stad als één grote dierentuin
					p 
						| In dit project wil ik mijn liefde voor dieren en participatie samenbrengen. Dieren hoeven niet opgesloten te zitten om van ze te genieten. Participatie met elkaar, participatie met het stadsbeeld, door eens door de bekende straten te lopen, maar het dit keer bewust in je op te nemen.
					p 
						| Hoewel dit inmiddels een project van meer dan twee jaar oud is, blijft het 's nachts door mijn hoofd spoken en kan ik het niet loslaten. Ondanks dat mijn kennis van Node.js, command line, gulp, pug, sublime en postgres een beetje 
						em rusty 
						| is, om het maar met een eufenisme te brengen, wil ik het weer oppakken om dit project toch ooit live te krijgen.
					br
					h5 Binnenkort
					p In de toekomst zal deze website verder worden uitgebreid. Zo is het dan mogelijk bepaalde 'dierentuinroutes' weer te geven die bijvoorbeeld overeenkomen met de dieren in Artis, alle gezelschapsdieren, alle vogels of alle dieren uit Afrika. Daarnaast zal er een zoekfunctie komen waarmee op zowel dier als kunstenaar gezocht kan worden.


						

						




		main
		include includes/footer.pug