html
	head
		include includes/header.pug
	body
		div.container
			h2 View/edit admins
			h5= message
			br

			//- This is the forms in collapsible. If i keep it in collapsible, this needs layout
			//- ul.collapsible(data-collapsible='accordion')
			//- 	li
			//- 		.collapsible-header
			//- 			i.material-icons list
			//- 			| View all admins
			//- 		.collapsible-body
			//- 			p You are running this platform with:

			//- 				each admin in allAdmins
			//- 					br
			//- 					| #{admin.email} 
			//- 	li
			//- 		.collapsible-header
			//- 			i.material-icons email
			//- 			| Change your e-mail address
			//- 		.collapsible-body
			//- 			div.row
			//- 				form.col.s12(action='/adm-changeemail' method='post')
			//- 					div.row
			//- 						div.input-field.col.s12
			//- 							input#email.validate(name='email' type='text' required)
			//- 								//- nog naar email type wijzigen voor validation
			//- 							label(for='email') Old e-mail
			//- 						div.input-field.col.s12
			//- 							input#newemail.validate(name='newemail' type='text' required)
			//- 							label(for='newemail') New e-mail
			//- 						div.input-field.col.s12
			//- 							input#submit.btn.waves-effect(type='submit' value='Change e-mail')
			//- 	li
			//- 		.collapsible-header
			//- 			i.material-icons security
			//- 			| Change your password
			//- 		.collapsible-body
			//- 			div.row
			//- 				form.col.s12(action='/adm-changepassword' method='post')
			//- 					div.row
			//- 						div.input-field.col.s12
			//- 							input#oldpassword.validate(name='oldpassword' type='password' required)
			//- 								//- nog naar email type wijzigen voor validation
			//- 							label(for='oldpassword') Old password
			//- 						div.input-field.col.s12
			//- 							input#newpassword.validate(name='newpassword' type='password' required)
			//- 							label(for='newpassword') New password
			//- 						div.input-field.col.s12
			//- 							input#newpassword2.validate(name='newpassword2' type='password' required)
			//- 							label(for='newpassword2') Confirm new password
			//- 						div.input-field.col.s12
			//- 							input#submit.btn.waves-effect(type='submit' value='Change password')
			//- 	li
			//- 		.collapsible-header
			//- 			i.material-icons plus_one
			//- 			| Add an admin
			//- 		.collapsible-body
			//- 			div.row
			//- 				form.col.s12(action='/adm-addadmin' method='post')
			//- 					div.row
			//- 						div.adminput.input-field.col.s12
			//- 							input#email.validate(name='email' type='text' required)
			//- 								//- nog naar email type wijzigen voor validation
			//- 							label(for='email') E-mail address
			//- 						div.input-field.col.s12
			//- 							input#password.validate(name='password' type='password' required)
			//- 							label(for='password') Password
			//- 						div.input-field.col.s12
			//- 							input#password2.validate(name='password2' type='password' required)
			//- 							label(for='password') Confirm password
			//- 						div.input-field.col.s12
			//- 							input#submit.btn.waves-effect(type='submit' value='Add admin')

			//- This is the forms linear
			h5 View all admins
			br
			div.row
				div.col.s12
					p
						strong You are running this platform with:
					each admin in allAdmins
						p #{admin.email}
			h5 Change your e-mail address
			div.row
				form.col.s12(action='/adm-changeemail' method='post')
					div.row
						div.input-field.col.l5.m5.s12
							input#email.validate(name='email' type='text' required)
								//- nog naar email type wijzigen voor validation
							label(for='email') Old e-mail
						div.input-field.col.l5.m5.s12
							input#newemail.validate(name='newemail' type='text' required)
							label(for='newemail') New e-mail
						div.input-field.col.l2.m2.s12
							input#submit.btn.waves-effect(type='submit' value='Change e-mail')

			h5 Change your password
			div.row
				form.col.s12(action='/adm-changepassword' method='post')
					div.row
						div.input-field.col.l3.m3.s12
							input#oldpassword.validate(name='oldpassword' type='password' required)
								//- nog naar email type wijzigen voor validation
							label(for='oldpassword') Old password
						div.input-field.col.l3.m3.s12
							input#newpassword.validate(name='newpassword' type='password' required)
							label(for='newpassword') New password
						div.input-field.col.l4.m4.s12
							input#newpassword2.validate(name='newpassword2' type='password' required)
							label(for='newpassword2') Confirm new password
						div.input-field.col.l2.m2.s12
							input#submit.btn.waves-effect(type='submit' value='Change password')


			h5 Add an admin
			div.row
				form.col.s12(action='/adm-addadmin' method='post')
					div.row
						div.input-field.col.l4.m4.s12
							input#email.validate(name='email' type='text' required)
								//- nog naar email type wijzigen voor validation
							label(for='email') E-mail address
						div.input-field.col.l3.m3.s12
							input#password.validate(name='password' type='password' required)
							label(for='password') Password
						div.input-field.col.l3.m3.s12
							input#password2.validate(name='password2' type='password' required)
							label(for='password') Confirm password
						div.input-field.col.l2.m2.s12
							input#submit.btn.waves-effect(type='submit' value='Add admin')

						

						




		main
		include includes/footer.pug