html
	head
		include includes/header.pug
	body
		div.container
			h2 Add artwork
			h5= message

			h5 Add a work of art
			div.row
				form.col.s12(action='/adm-addart' method='post')
					div.row
						div.input-field.col.s12
							input#artist.validate(name='artist' type='text' required)
							label(for='artist') Artist
						div.input-field.col.s12
							input#description.validate(name='description' type='text' required)
							label(for='description') Description of the artwork (Dutch)
						div.input-field.col.s12
							input#datesince.validate(name='datesince' type='text' required)
							label(for='datesince') Date/year of placement
						div.input-field.col.s12
							input#material.validate(name='material' type='text' required)
							label(for='material') Material of the artwork (Dutch)
								//- nog checkboxes? kan nl meerdere zijn?
						div.input-field.col.s12
							input#image.validate(name='image' type='text' required)
							label(for='image') Image path
								//- hier nog een upload functie
						div.input-field.col.s12
							input#lat.validate(name='lat' type='text' required)
							label(for='lat') Latitude of artwork location (in Amsterdam)
						div.input-field.col.s12
							input#lng.validate(name='lng' type='text' required)
							label(for='lng') Longitude of artwork location (in Amsterdam)
						div.input-field.col.l2.m2.s12
							input#submit.btn.waves-effect(type='submit' value='Add artwork')


						

						




		main
		include includes/footer.pug