html
	head
		include includes/header.pug
	body
		div.container
			h2 Add animal
			h5= message

			h5 Add an animal
			div.row
				form.col.s12(action='/adm-addanimal' method='post')
					div.row
						div.input-field.col.s12
							input#name.validate(name='name' type='text' required)
							label(for='name') Name of animal (Dutch)
						div.input-field.col.s12
							input#description.validate(name='description' type='text' required)
							label(for='description') Description of animal (Dutch)
								//-check hoe enters e.d. doorkomen?
						div.input-field.col.s12
							input#latinname.validate(name='latinname' type='text' required)
							label(for='latinname') Latin name of animal (Latin duhhh)
						div.input-field.col.s12
							input#family.validate(name='family' type='text' required)
							label(for='family') Family of animal (Dutch)
								//- nog dropdown? zijn er niet zo veel toch?
						div.input-field.col.s12
							input#class.validate(name='class' type='text' required)
							label(for='class') Class of animal (Dutch)
								//- nog dropdown? zijn er niet zo veel toch?
						div.input-field.col.s12
							input#size.validate(name='size' type='text' required)
							label(for='size') Size of animal + measure of length (Dutch)
						div.input-field.col.s12
							input#weight.validate(name='weight' type='text' required)
							label(for='weight') Weight of animal + measure of weight (Dutch)
						div.input-field.col.s12
							select#rangecontinent.validate(name='rangecontinent' multiple='')
								option(value='', disabled='', selected='') Continents the animal occurs 
								option(value='Afrika') Afrika
								option(value='Antarctica') Antarctica
								option(value='Azië') Azië
								option(value='Europa') Europa
								option(value='Noord-Amerika') Noord-Amerika
								option(value='Oceanië') Oceanië
								option(value='Zuid-Amerika') Zuid-Amerika
							label(for='rangecontinent') Continents the animal occurs

						//- div.input-field.col.s12
						//- 	input#rangecontinent.validate(name='rangecontinent' type='text' required)
						//- 	label(for='rangecontinent') Continents the animal occurs (Dutch)
						//- 		//- nog checkboxes? kan namelijk meerdere zijn
						div.input-field.col.s12
							input#rangecountry.validate(name='rangecountry' type='text' required)
							label(for='rangecountry') Countries the animal occurs (Dutch)
								//- nog checkboxes? kan namelijk meerdere zijn. maar wel heel veel dan.
						div.input-field.col.l2.m2.s12
							input#submit.btn.waves-effect(type='submit' value='Add animal')



				




		main
		include includes/footer.pug