head
	link( href="materialize-css/dist/css/materialize.min.css" type="text/css" rel="stylesheet")
	link( href="css/styles.css" type="text/css" rel="stylesheet")
	link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
body
	div.row#gethigher
		div.col.s12.m9.l9
			div#map
		div.col.s12.m3.l3
			h1
				| [ A M S T E R D A M 
				span.greyheading  U R B A N  
				| Z O O ] 
				//- span.greyheading .
			br
			h6.center-align
				| [ 
				span.greyheading DIER TOEVOEGEN 
				| ]
			br
			h6.center-align
				| [ 
				span.greyheading OVER DIT PROJECT 
				| ]




	main
	script(src='javascript/jquery-3.1.1.min.js' type='text/javascript')
	script(src="materialize-css/dist/js/materialize.js" type="text/javascript" rel="javascript")
	script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcXRGB0djgEmPPDULsd7qOTAa7Qj_TGYQ&callback=initMap")
	//- script(src='javascript/map-icons.js' type='text/javascript')
	script(src='javascript/maps.js' type='text/javascript')