$backgroundcolor: #E0F7FA; 
$footerheader: #00ACC1; 

// // Formcolours
$formInputText: #212121;
$formInputTextWhenClicked: #00838F;
$formUnderlineWhenClicked: #00838F;
$formUnderlineWhenClickedShadow: #00ACC1;
$formUnderlineWhenValid: #00695C;
$formUnderlineWhenValidShadow: #00796B;
$formUnderlineWhenInvalid: #ca0202;
$formUnderlineWhenInvalidShadow: #f20202;


$index-font: "saxmono";
// $secondary-font: "Canter-Bold2";

@font-face {
	font-family: "saxmono";
	src: url(../fonts/saxmono.ttf);
}

@font-face {
	font-family: "spacemono";
	src: url(../fonts/SpaceMono-regular.ttf);
}

h1, h2, h5 {
	font-family: $index-font;
}

body {
	background-color: $backgroundcolor;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

h1 {
	margin-top: -4px;
}

.adminput {
	margin-left: 40px;
}

#map {
	width: 100%;
	height: 97%;
	background-color: $backgroundcolor;
	margin-top: 8px;
	/*margin-bottom: -30px;*/
	/*	margin-top: 3%;*/
}

.mapsimages {
	width: 80%;
	display: block;
	margin: 10px auto;
}

.greyheading {
	color: darkgrey;
}

.infowindowdiv {
	/*border: 5px solid blue;*/
}

.nav-wrapper {
	background-color: $footerheader;
}

footer.page-footer {
	background-color: $footerheader;
}

footer ul li a {
	color: $backgroundcolor;
}

ul li a {
	color: $footerheader;
}



// input[type=submit] {
// 	position: relative;
// 	transform: translateY(35%);
// }

.btn {
	background-color:$formUnderlineWhenClickedShadow;
}

.btn:hover {
	background-color:$formUnderlineWhenClicked;
}


// For text forms
/* label focus color */
.input-field input[type=text]:focus + label {
	color: $formInputTextWhenClicked;
}
/* label underline focus color */
.input-field input[type=text]:focus {
	border-bottom: 1px solid $formUnderlineWhenClicked;
	box-shadow: 0 1px 0 0 $formUnderlineWhenClickedShadow;
}
/* valid color */
.input-field input[type=text].valid {
	border-bottom: 1px solid $formUnderlineWhenValid;
	box-shadow: 0 1px 0 0 $formUnderlineWhenValidShadow;
}
/* invalid color */
.input-field input[type=text].invalid {
	border-bottom: 1px solid $formUnderlineWhenInvalid;
	box-shadow: 0 1px 0 0 $formUnderlineWhenInvalidShadow;
}


// for password forms
/* label focus color */
.input-field input[type=password]:focus + label {
	color: $formInputTextWhenClicked;
}
/* label underline focus color */
.input-field input[type=password]:focus {
	border-bottom: 1px solid $formUnderlineWhenClicked;
	box-shadow: 0 1px 0 0 $formUnderlineWhenClickedShadow;
}
/* valid color */
.input-field input[type=password].valid {
	border-bottom: 1px solid $formUnderlineWhenValid;
	box-shadow: 0 1px 0 0 $formUnderlineWhenValidShadow;
}
/* invalid color */
.input-field input[type=password].invalid {
	border-bottom: 1px solid $formUnderlineWhenInvalid;
	box-shadow: 0 1px 0 0 $formUnderlineWhenInvalidShadow;
}



// for email forms
/* label focus color */
.input-field input[type=email]:focus + label {
	color: $formInputTextWhenClicked;
}
/* label underline focus color */
.input-field input[type=email]:focus {
	border-bottom: 1px solid $formUnderlineWhenClicked;
	box-shadow: 0 1px 0 0 $formUnderlineWhenClickedShadow;
}
/* valid color */
.input-field input[type=email].valid {
	border-bottom: 1px solid $formUnderlineWhenValid;
	box-shadow: 0 1px 0 0 $formUnderlineWhenValidShadow;
}
/* invalid color */
.input-field input[type=email].invalid {
	border-bottom: 1px solid $formUnderlineWhenInvalid;
	box-shadow: 0 1px 0 0 $formUnderlineWhenInvalidShadow;
}

   // for radio forms
   /* label focus color */
   .input-field input[type=radio]:focus + label {
   	color: $formInputTextWhenClicked;
   }
   /* label underline focus color */
   .input-field input[type=radio]:focus {
   	border-bottom: 1px solid $formUnderlineWhenClicked;
   	box-shadow: 0 1px 0 0 $formUnderlineWhenClickedShadow;
   }
   /* valid color */
   .input-field input[type=radio].valid {
   	border-bottom: 1px solid $formUnderlineWhenValid;
   	box-shadow: 0 1px 0 0 $formUnderlineWhenValidShadow;
   }
   /* invalid color */
   .input-field input[type=radio].invalid {
   	border-bottom: 1px solid $formUnderlineWhenInvalid;
   	box-shadow: 0 1px 0 0 $formUnderlineWhenInvalidShadow;
   }

   [type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
   	background-color: $formUnderlineWhenValidShadow
   }

   [type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
   	border: 2px solid $formUnderlineWhenValid
   }



//  /* icon prefix focus color */
//  .input-field .prefix.active {
//  	color: brown;
//  }

//  .nonformlabel {
//  	color: $formInputText;
//  }

// .map-icon {
// 	background-color: red;
// 	color: red;
// }

